Library/XSDSchemes/Clients.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Clients">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Client">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="FullName" type="xs:string" />
              <xs:element name="Adress" type="xs:string" />
              <xs:element name="Phone" type="xs:unsignedInt" />
              <xs:element name="Category" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>