Library/XSDSchemes/Co_Authors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Сo_Authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Co_Author">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="BookId" type="xs:unsignedByte" />
              <xs:element name="AuthorId" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>